@model IEnumerable<Pie>

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Sally's Pie Shop</h2>

<div class="row">
    @foreach (Pie p in Model)
    {
        <div class="col-md-4">
            <div class="bg-light m-1 pb-2">
                <img src="@p.ImageThumbnailUrl" alt="@p.Name" style="width: 100%">
                <h3 class="text-right">@p.Price.ToString("c")</h3>
                <h3>
                    <a class="link-info" asp-controller="Home" asp-action="Details" asp-route-id="@p.PieId" >@p.Name</a>
                </h3>
                <p>@p.ShortDescription</p>
            </div>
        </div>
    }
</div>